.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    /* flex-wrap: nowrap; */
    /* flex-direction: row-reverse; */
    /* column-gap: 1 em; */
    /* row-gap: 1em; */
    justify-content: space-between;
}

.box{
    
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
 }
#box1{
    background-color: hsl(0, 100%, 75%);
}
#box2{
    background-color: hsl(49, 100%, 75%);
}
#box3{
    background-color: hsl(118, 100%, 59%);
}
#box4{
    background-color: hsl(197, 100%, 75%);
}